:root {
    /* Font sizing */
    font-size: 100%; /* Equal to 16px by default, can be scaled by browser settings */

    /* Light mode colors */
    --background-color: #FAF3E0;
    --text-color: #000;
    --link-color: #3498db;
    --link-hover-color: #2980b9;
    --header-background-color: #FAF3E0;
    --svg-fill-color: #000; /* Updated for light mode */
    --svg-stroke-color: #FAF3E0; /* Updated for light mode */
    --quothlogo-svg-fill-color: #000000; /* Adjust with your preferred fill color for light mode */
    --quothlogo-svg-stroke-color: #FAF3E0; /* Adjust with your preferred stroke color for light mode */
    --robot-svg-fill-color: #000; /* Adjust with your preferred fill color for light mode */
    --robot-svg-stroke-color: #FAF3E0; /* Adjust with your preferred stroke color for light mode */


    /* Dark mode colors */
    --dark-background-color: #1E2A38;
    --dark-text-color: #FAF3E0;
    --dark-link-color: #bebebe;
    --dark-link-hover-color: #9b97af;
    --dark-header-background-color: #1E2A38;
    --dark-svg-fill-color: #1E2A38; /* Added for dark mode */
    --dark-svg-stroke-color: #FAF3E0; /* Added for dark mode */
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    padding: 3rem; /* Adjusted padding */
    max-width: 1080px; /* Max width for the entire page */
    margin: auto; /* Centers the content within the page */
}


body.dark-mode {
    /* Updating variables for dark mode */
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --link-hover-color: var(--dark-link-hover-color);
    --header-background-color: var(--dark-header-background-color);
    --svg-fill-color: var(--dark-svg-fill-color); /* Updated for dark mode */
    --svg-stroke-color: var(--dark-svg-stroke-color); /* Updated for dark mode */
    --quothlogo-svg-fill-color: #FAF3E0; /* Adjust with your preferred fill color for light mode */
    --quothlogo-svg-stroke-color: #faf3e000; /* Adjust with your preferred stroke color for light mode */
    --robot-svg-fill-color: #FAF3E0; /* Adjust with your preferred fill color for dark mode */
    --robot-svg-stroke-color: #1E2A38; /* Adjust with your preferred stroke color for dark mode */
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

header img {
    border-radius: 50%;
    width: 6.25rem; /* Converted to rem */
    height: 6.25rem; /* Converted to rem */
}
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background-color);
    padding-top: 3rem;
    /* Use rem for padding */

}

header {
    padding: 0rem 0;
    /* Scaled padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
    gap: 1.25rem;
}


#quothlogo svg {
    fill: var(--quothlogo-svg-fill-color);
    stroke: var(--quothlogo-svg-stroke-color);
}



.project {
    display: grid; /* Use grid layout */
    grid-template-columns: 250px auto; /* First column for SVG, second for text */
    gap: 2px; /* Space between the SVG and text */
    align-items: left; /* Align items vertically in the center */
}

#quothlogo, #logoSvg {
    width: 200px; /* Width of the SVG container */
    height: 300px; /* Height of the SVG container */
    display: flex;
    justify-content: center; /* Center SVG horizontally */
    align-items: center; /* Center SVG vertically */
    overflow: hidden; /* Ensures SVG does not overflow the container */
}

#robotSvg {
    width: 200px; /* Width of the SVG container */
    height: 300px; /* Height of the SVG container */
    display: flex;
    justify-content: center; /* Center SVG horizontally */
    align-items: center; /* Center SVG vertically */
    overflow: hidden; /* Ensures SVG does not overflow the container */
    fill: var(--robot-svg-fill-color); /* Use variable for fill color */
    stroke: var(--robot-svg-stroke-color); /* Use variable for stroke color */
}
.project-logo svg {
    max-width: 100%; /* SVG scales up to the container's width */
    max-height: 100%; /* SVG scales up to the container's height */
    height: auto; /* Maintain aspect ratio */
}

.project-info {
    /* Styling for the text part */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modeToggle {
    position: fixed;
    top: 1rem;
    /* Offset from the top of the screen */
    left: 1rem;
    /* Offset from the left side of the screen */
    background: none;
    /* Remove any default background */
    border: none;
    /* Remove any default borders */
    cursor: pointer;
    /* Indicate interactivity */
    z-index: 1000;
    /* Ensure it's above other elements */
}


#modeToggle svg {
    display: none;
    /* By default, hide all SVGs within the toggle button */
    width: 3rem;
    height: 3rem;
    fill: var(--text-color) !important;
    stroke: none !important;
}

#modeToggle svg.jam-sun {
    display: inline-block;
    /* Show only the sun SVG by default */
    width: 3rem;
    height: 3rem;
    fill: var(--text-color) !important;
    stroke: none !important;
}

#langToggle {
    position: fixed;
    top: 0.5rem;
    /* Offset from the top of the screen */
    right: 1.3rem;
    /* Offset from the right side of the screen */
    background: none;
    /* Remove any default background */
    border: none;
    /* Remove any default borders */
    cursor: pointer;
    /* Indicate interactivity */
    z-index: 1000;
    /* Ensure it's above other elements */
    display: flex;
    /* Arrange child elements horizontally */
    gap: 0rem;
    /* Gap between the icons */
}

#langToggle .lang-icon {
    font-size: 2.2rem;
    /* Adjust this as needed for size */
    font-weight: bold;
    /* Makes the text bold */
    color: var(--text-color);
}

#enIcon {
    display: none;
    /* Hide it by default */
}